html {
    /*background-image: linear-gradient(to top, black, #9EEBDC);*/
    color: white;
}

body {
  background-image: url("https://wallpapers.com/images/high/professional-background-zwg2tp6zyjk04j2j.webp");
    height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
    color: linear-gradient(to top, white, black);
}

h2 {
    color: linear-gradient(to top, white, black);
}

p {
    color: linear-gradient(to top, white, black);
}
