html {
    background-image: linear-gradient(to top, black, #9EEBDC);
    color: white;
}

h1 {
    color: linear-gradient(to top, white, black);
}

h2 {
    color: linear-gradient(to top, white, black);
}

p {
    color: linear-gradient(to top, white, black);
}
